<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="author" content="Colorlib">
    <meta name="description" content="#">
    <meta name="keywords" content="#">
    <!-- Page Title -->
    <title>@ViewData["Title"] - Asp.Net Core 2.2</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="~/template/listing/css/bootstrap.min.css">
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,400i,500,700,900" rel="stylesheet">
    <!-- Simple line Icon -->
    <link rel="stylesheet" href="~/template/listing/css/simple-line-icons.css">
    <!-- Themify Icon -->
    <link rel="stylesheet" href="~/template/listing/css/themify-icons.css">
    <!-- Hover Effects -->
    <link rel="stylesheet" href="~/template/listing/css/set1.css">
    <!-- Main CSS -->
    <link rel="stylesheet" href="~/template/listing/css/style.css">
</head>

<body>
    <!--============================= HEADER =============================-->
    @await Html.PartialAsync("_header")
    @RenderBody()
    <!--============================= FOOTER =============================-->
    @await  Html.PartialAsync("_footer")
    <!--//END FOOTER -->
    <!-- jQuery, Bootstrap JS. -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="~/template/listing/js/jquery-3.2.1.min.js"></script>
    <script src="~/template/listing/js/popper.min.js"></script>
    <script src="~/template/listing/js/bootstrap.min.js"></script>

    <script>
        $(window).scroll(function() {
            // 100 = The point you would like to fade the nav in.

            if ($(window).scrollTop() > 100) {

                $('.fixed').addClass('is-sticky');

            } else {

                $('.fixed').removeClass('is-sticky');

            };
        });
    </script>
</body>

</html>
