@{
    ViewData["Title"] = "Listing";
    Layout = "~/Views/Listing/_LayoutListing.cshtml";
}

<!--============================= DETAIL =============================-->
<section>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-7 responsive-wrap">
                <div class="row detail-filter-wrap">
                    <div class="col-md-4 featured-responsive">
                        <div class="detail-filter-text">
                            <p>34 Results For <span>Restaurant</span></p>
                        </div>
                    </div>
                    <div class="col-md-8 featured-responsive">
                        <div class="detail-filter">
                            <p>Filter by</p>
                            <form class="filter-dropdown">
                                <select class="custom-select mb-2 mr-sm-2 mb-sm-0" id="inlineFormCustomSelect">
                                    <option selected>Best Match</option>
                                    <option value="1">One</option>
                                    <option value="2">Two</option>
                                    <option value="3">Three</option>
                                </select>
                            </form>
                            <form class="filter-dropdown">
                                <select class="custom-select mb-2 mr-sm-2 mb-sm-0" id="inlineFormCustomSelect1">
                                    <option selected>Restaurants</option>
                                    <option value="1">One</option>
                                    <option value="2">Two</option>
                                    <option value="3">Three</option>
                                </select>
                            </form>
                            <div class="map-responsive-wrap">
                                <a class="map-icon" href="#"><span class="icon-location-pin"></span></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row detail-checkbox-wrap">
                    <div class="col-sm-12 col-md-6 col-lg-4 col-xl-3">

                        <label class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input">
                            <span class="custom-control-indicator"></span>
                            <span class="custom-control-description">Bike Parking</span>
                        </label>
                    </div>
                    <div class="col-sm-12 col-md-6 col-lg-4 col-xl-3">
                        <label class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input">
                            <span class="custom-control-indicator"></span>
                            <span class="custom-control-description">Wireless Internet  </span>
                        </label>
                    </div>

                    <div class="col-sm-12 col-md-6 col-lg-4 col-xl-3">

                        <label class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input">
                            <span class="custom-control-indicator"></span>
                            <span class="custom-control-description">Smoking Allowed  </span>
                        </label>
                    </div>
                    <div class="col-sm-12 col-md-6 col-lg-4 col-xl-3">
                        <label class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input">
                            <span class="custom-control-indicator"></span>
                            <span class="custom-control-description">Street Parking</span>
                        </label>
                    </div>

                    <div class="col-sm-12 col-md-6 col-lg-4 col-xl-3">

                        <label class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input">
                            <span class="custom-control-indicator"></span>
                            <span class="custom-control-description">Special</span>
                        </label>
                    </div>
                    <div class="col-sm-12 col-md-6 col-lg-4 col-xl-3">
                        <label class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input">
                            <span class="custom-control-indicator"></span>
                            <span class="custom-control-description">Accepts Credit cards</span>
                        </label>
                    </div>

                    <div class="col-sm-12 col-md-6 col-lg-4 col-xl-3">

                        <label class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input">
                            <span class="custom-control-indicator"></span>
                            <span class="custom-control-description">Pets Friendly</span>
                        </label>

                    </div>
                </div>
                <div class="row light-bg detail-options-wrap">
                    <div class="col-sm-6 col-lg-12 col-xl-6 featured-responsive">
                        <div class="featured-place-wrap">
                            <a href="@Url.Action("Detail", "Listing")">
                                <img src="/template/listing/images/featured1.jpg" class="img-fluid" alt="#">
                                <span class="featured-rating-orange ">6.5</span>
                                <div class="featured-title-box">
                                    <h6>Burger &amp; Lobster</h6>
                                    <p>Restaurant </p> <span>• </span>
                                    <p>3 Reviews</p> <span> • </span>
                                    <p><span>$$$</span>$$</p>
                                    <ul>
                                        <li>
                                            <span class="icon-location-pin"></span>
                                            <p>1301 Avenue, Brooklyn, NY 11230</p>
                                        </li>
                                        <li>
                                            <span class="icon-screen-smartphone"></span>
                                            <p>+44 20 7336 8898</p>
                                        </li>
                                        <li>
                                            <span class="icon-link"></span>
                                            <p>https://burgerandlobster.com</p>
                                        </li>

                                    </ul>
                                    <div class="bottom-icons">
                                        <div class="closed-now">CLOSED NOW</div>
                                        <span class="ti-heart"></span>
                                        <span class="ti-bookmark"></span>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-12 col-xl-6 featured-responsive">
                        <div class="featured-place-wrap">
                            <a href="@Url.Action("Detail", "Listing")">
                                <img src="/template/listing/images/featured2.jpg" class="img-fluid" alt="#">
                                <span class="featured-rating-green">9.5</span>
                                <div class="featured-title-box">
                                    <h6>Joe’s Shanghai</h6>
                                    <p>Restaurant </p> <span>• </span>
                                    <p>3 Reviews</p> <span> • </span>
                                    <p><span>$$$</span>$$</p>
                                    <ul>
                                        <li>
                                            <span class="icon-location-pin"></span>
                                            <p>1301 Avenue, Brooklyn, NY 11230</p>
                                        </li>
                                        <li>
                                            <span class="icon-screen-smartphone"></span>
                                            <p>+44 20 7336 8898</p>
                                        </li>
                                        <li>
                                            <span class="icon-link"></span>
                                            <p>https://burgerandlobster.com</p>
                                        </li>

                                    </ul>
                                    <div class="bottom-icons">
                                        <div class="open-now">OPEN NOW</div>
                                        <span class="ti-heart"></span>
                                        <span class="ti-bookmark"></span>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>

                    <div class="col-sm-6 col-lg-12 col-xl-6 featured-responsive">
                        <div class="featured-place-wrap">
                            <a href="@Url.Action("Detail", "Listing")">
                                <img src="/template/listing/images/featured3.jpg" class="img-fluid" alt="#">
                                <span class="featured-rating">3.2</span>
                                <div class="featured-title-box">
                                    <h6>Tasty Hand-Pulled Noodles</h6>
                                    <p>Restaurant </p> <span>• </span>
                                    <p>3 Reviews</p> <span> • </span>
                                    <p><span>$$$</span>$$</p>
                                    <ul>
                                        <li>
                                            <span class="icon-location-pin"></span>
                                            <p>1301 Avenue, Brooklyn, NY 11230</p>
                                        </li>
                                        <li>
                                            <span class="icon-screen-smartphone"></span>
                                            <p>+44 20 7336 8898</p>
                                        </li>
                                        <li>
                                            <span class="icon-link"></span>
                                            <p>https://burgerandlobster.com</p>
                                        </li>

                                    </ul>
                                    <div class="bottom-icons">
                                        <div class="closed-now">CLOSED NOW</div>
                                        <span class="ti-heart"></span>
                                        <span class="ti-bookmark"></span>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-12 col-xl-6 featured-responsive">
                        <div class="featured-place-wrap">
                            <a href="@Url.Action("Detail", "Listing")">
                                <img src="/template/listing/images/featured4.jpg" class="img-fluid" alt="#">
                                <span class="featured-rating-green">9.5</span>
                                <div class="featured-title-box">
                                    <h6>Pizza - Cicis</h6>
                                    <p>Restaurant </p> <span>• </span>
                                    <p>3 Reviews</p> <span> • </span>
                                    <p><span>$$$</span>$$</p>
                                    <ul>
                                        <li>
                                            <span class="icon-location-pin"></span>
                                            <p>1301 Avenue, Brooklyn, NY 11230</p>
                                        </li>
                                        <li>
                                            <span class="icon-screen-smartphone"></span>
                                            <p>+44 20 7336 8898</p>
                                        </li>
                                        <li>
                                            <span class="icon-link"></span>
                                            <p>https://burgerandlobster.com</p>
                                        </li>

                                    </ul>
                                    <div class="bottom-icons">
                                        <div class="closed-now">CLOSED NOW</div>
                                        <span class="ti-heart"></span>
                                        <span class="ti-bookmark"></span>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-5 responsive-wrap map-wrap">
                <div class="map-fix">
                    <!-- data-toggle="affix" -->
                    <!-- Google map will appear here! Edit the Latitude, Longitude and Zoom Level below using data-attr-*  -->
                    <div id="map" data-lat="40.674" data-lon="-73.945" data-zoom="14"></div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--//END DETAIL -->