<!DOCTYPE html>
<html lang="en">
<head>
    <title>@ViewData["Title"] - Asp.Net Core 2.2</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="Travello template project">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="~/template/travello/styles/bootstrap4/bootstrap.min.css">
    <link href="~/template/travello/plugins/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" href="~/template/travello/plugins/OwlCarousel2-2.2.1/owl.carousel.css">
    <link rel="stylesheet" type="text/css" href="~/template/travello/plugins/OwlCarousel2-2.2.1/owl.theme.default.css">
    <link rel="stylesheet" type="text/css" href="~/template/travello/plugins/OwlCarousel2-2.2.1/animate.css">
    <link rel="stylesheet" type="text/css" href="~/template/travello/styles/main_styles.css">
    <link rel="stylesheet" type="text/css" href="~/template/travello/styles/responsive.css">
</head>
<body>

    <div class="super_container">

        <!-- Header -->

        @await  Html.PartialAsync("_header")



        @RenderBody()

        <!-- Footer -->

        @await Html.PartialAsync("_footer")
    </div>

    <script src="~/template/travello/js/jquery-3.2.1.min.js"></script>
    <script src="~/template/travello/styles/bootstrap4/popper.js"></script>
    <script src="~/template/travello/styles/bootstrap4/bootstrap.min.js"></script>
    <script src="~/template/travello/plugins/OwlCarousel2-2.2.1/owl.carousel.js"></script>
    <script src="~/template/travello/plugins/Isotope/isotope.pkgd.min.js"></script>
    <script src="~/template/travello/plugins/scrollTo/jquery.scrollTo.min.js"></script>
    <script src="~/template/travello/plugins/easing/easing.js"></script>
    <script src="~/template/travello/plugins/parallax-js-master/parallax.min.js"></script>
    <script src="~/template/travello/js/custom.js"></script>
</body>
</html>