
@{
    ViewData["Title"] = "Destination";
    Layout = "~/Views/Travello/_Layout.cshtml";
}


<!-- Home -->

<div class="home">
    <div class="background_image" style="background-image:url(/template/travello/images/destinations.jpg)"></div>
</div>

<!-- Search -->

<div class="home_search">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="home_search_container">
                    <div class="home_search_title">Search for your trip</div>
                    <div class="home_search_content">
                        <form action="#" class="home_search_form" id="home_search_form">
                            <div class="d-flex flex-lg-row flex-column align-items-start justify-content-lg-between justify-content-start">
                                <input type="text" class="search_input search_input_1" placeholder="City" required="required">
                                <input type="text" class="search_input search_input_2" placeholder="Departure" required="required">
                                <input type="text" class="search_input search_input_3" placeholder="Arrival" required="required">
                                <input type="text" class="search_input search_input_4" placeholder="Budget" required="required">
                                <button class="home_search_button">search</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Destinations -->

<div class="destinations" id="destinations">
    <div class="container">
        <div class="row">
            <div class="col text-center">
                <div class="section_subtitle">simply amazing places</div>
                <div class="section_title"><h2>Popular Destinations</h2></div>
            </div>
        </div>
        <div class="row destination_sorting_row">
            <div class="col">
                <div class="destination_sorting d-flex flex-row align-items-start justify-content-start">
                    <div class="sorting">
                        <ul class="item_sorting">
                            <li>
                                <span class="sorting_text">Sort By</span>
                                <i class="fa fa-chevron-down" aria-hidden="true"></i>
                                <ul>
                                    <li class="product_sorting_btn" data-isotope-option='{ "sortBy": "original-order" }'><span>Show All</span></li>
                                    <li class="product_sorting_btn" data-isotope-option='{ "sortBy": "price" }'><span>Price</span></li>
                                    <li class="product_sorting_btn" data-isotope-option='{ "sortBy": "name" }'><span>Name</span></li>
                                </ul>
                            </li>
                            <li>
                                <span class="sorting_text">Categories</span>
                                <i class="fa fa-chevron-down" aria-hidden="true"></i>
                                <ul>
                                    <li class="num_sorting_btn"><span>Category</span></li>
                                    <li class="num_sorting_btn"><span>Category</span></li>
                                    <li class="num_sorting_btn"><span>Category</span></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                    <div class="sort_box ml-auto"><i class="fa fa-th" aria-hidden="true"></i></div>
                </div>
            </div>
        </div>
        <div class="row destinations_row">
            <div class="col">
                <div class="destinations_container item_grid">

                    <!-- Destination -->
                    <div class="destination item">
                        <div class="destination_image">
                            <img src="/template/travello/images/destination_1.jpg" alt="">
                            <div class="spec_offer text-center"><a href="#">Special Offer</a></div>
                        </div>
                        <div class="destination_content">
                            <div class="destination_title"><a href="#">Bali</a></div>
                            <div class="destination_subtitle"><p>Nulla pretium tincidunt felis, nec.</p></div>
                            <div class="destination_price">From $679</div>
                            <div class="destination_list">
                                <ul>
                                    <li>5 Stars Hotel</li>
                                    <li>All Inclusive</li>
                                    <li>Flight tickets included</li>
                                    <li>Guided visits</li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <!-- Destination -->
                    <div class="destination item">
                        <div class="destination_image">
                            <img src="/template/travello/images/destination_2.jpg" alt="">
                        </div>
                        <div class="destination_content">
                            <div class="destination_title"><a href="#">Indonesia</a></div>
                            <div class="destination_subtitle"><p>Nulla pretium tincidunt felis, nec.</p></div>
                            <div class="destination_price">From $579</div>
                            <div class="destination_list">
                                <ul>
                                    <li>5 Stars Hotel</li>
                                    <li>All Inclusive</li>
                                    <li>Flight tickets included</li>
                                    <li>Guided visits</li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <!-- Destination -->
                    <div class="destination item">
                        <div class="destination_image">
                            <img src="/template/travello/images/destination_3.jpg" alt="">
                        </div>
                        <div class="destination_content">
                            <div class="destination_title"><a href="#">San Francisco</a></div>
                            <div class="destination_subtitle"><p>Nulla pretium tincidunt felis, nec.</p></div>
                            <div class="destination_price">From $399</div>
                            <div class="destination_list">
                                <ul>
                                    <li>5 Stars Hotel</li>
                                    <li>All Inclusive</li>
                                    <li>Flight tickets included</li>
                                    <li>Guided visits</li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <!-- Destination -->
                    <div class="destination item">
                        <div class="destination_image">
                            <img src="/template/travello/images/destination_4.jpg" alt="">
                        </div>
                        <div class="destination_content">
                            <div class="destination_title"><a href="#">Paris</a></div>
                            <div class="destination_subtitle"><p>Nulla pretium tincidunt felis, nec.</p></div>
                            <div class="destination_price">From $639</div>
                            <div class="destination_list">
                                <ul>
                                    <li>5 Stars Hotel</li>
                                    <li>All Inclusive</li>
                                    <li>Flight tickets included</li>
                                    <li>Guided visits</li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <!-- Destination -->
                    <div class="destination item">
                        <div class="destination_image">
                            <img src="/template/travello/images/destination_5.jpg" alt="">
                        </div>
                        <div class="destination_content">
                            <div class="destination_title"><a href="#">Phi Phi Island</a></div>
                            <div class="destination_subtitle"><p>Nulla pretium tincidunt felis, nec.</p></div>
                            <div class="destination_price">From $929</div>
                            <div class="destination_list">
                                <ul>
                                    <li>5 Stars Hotel</li>
                                    <li>All Inclusive</li>
                                    <li>Flight tickets included</li>
                                    <li>Guided visits</li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <!-- Destination -->
                    <div class="destination item">
                        <div class="destination_image">
                            <img src="/template/travello/images/destination_6.jpg" alt="">
                        </div>
                        <div class="destination_content">
                            <div class="destination_title"><a href="#">Mykonos</a></div>
                            <div class="destination_subtitle"><p>Nulla pretium tincidunt felis, nec.</p></div>
                            <div class="destination_price">From $719</div>
                            <div class="destination_list">
                                <ul>
                                    <li>5 Stars Hotel</li>
                                    <li>All Inclusive</li>
                                    <li>Flight tickets included</li>
                                    <li>Guided visits</li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <!-- Destination -->
                    <div class="destination item">
                        <div class="destination_image">
                            <img src="/template/travello/images/destination_7.jpg" alt="">
                        </div>
                        <div class="destination_content">
                            <div class="destination_title"><a href="#">Paris</a></div>
                            <div class="destination_subtitle"><p>Nulla pretium tincidunt felis, nec.</p></div>
                            <div class="destination_price">From $515</div>
                            <div class="destination_list">
                                <ul>
                                    <li>5 Stars Hotel</li>
                                    <li>All Inclusive</li>
                                    <li>Flight tickets included</li>
                                    <li>Guided visits</li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <!-- Destination -->
                    <div class="destination item">
                        <div class="destination_image">
                            <img src="/template/travello/images/destination_8.jpg" alt="">
                        </div>
                        <div class="destination_content">
                            <div class="destination_title"><a href="#">Phi Phi Island</a></div>
                            <div class="destination_subtitle"><p>Nulla pretium tincidunt felis, nec.</p></div>
                            <div class="destination_price">From $879</div>
                            <div class="destination_list">
                                <ul>
                                    <li>5 Stars Hotel</li>
                                    <li>All Inclusive</li>
                                    <li>Flight tickets included</li>
                                    <li>Guided visits</li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <!-- Destination -->
                    <div class="destination item">
                        <div class="destination_image">
                            <img src="/template/travello/images/destination_9.jpg" alt="">
                        </div>
                        <div class="destination_content">
                            <div class="destination_title"><a href="#">Mykonos</a></div>
                            <div class="destination_subtitle"><p>Nulla pretium tincidunt felis, nec.</p></div>
                            <div class="destination_price">From $679</div>
                            <div class="destination_list">
                                <ul>
                                    <li>5 Stars Hotel</li>
                                    <li>All Inclusive</li>
                                    <li>Flight tickets included</li>
                                    <li>Guided visits</li>
                                </ul>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="row load_more_row">
            <div class="col">
                <div class="button load_more_button"><a href="#">load more</a></div>
            </div>
        </div>
    </div>
</div>

