<!DOCTYPE html>
<html lang="zxx" class="no-js">
<head>
    <!-- Mobile Specific Meta -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Favicon-->
    <link rel="shortcut icon" href="~/template/educature/img/fav.png">
    <!-- Author Meta -->
    <meta name="author" content="codepixer">
    <!-- Meta Description -->
    <meta name="description" content="">
    <!-- Meta Keyword -->
    <meta name="keywords" content="">
    <!-- meta character set -->
    <meta charset="UTF-8">
    <!-- Site Title -->
    <title>@ViewData["Title"] - Asp.Net Core 2.2</title>
    <!--
            Google Font
            ============================================= -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,500,600" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500i" rel="stylesheet">
    <!--
            CSS
            ============================================= -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/themify-icons/0.1.2/css/themify-icons.css">
    <link rel="stylesheet" href="~/template/educature/css/linearicons.css">
    <link rel="stylesheet" href="~/template/educature/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/template/educature/css/bootstrap.css">
    <link rel="stylesheet" href="~/template/educature/css/magnific-popup.css">
    <link rel="stylesheet" href="~/template/educature/css/nice-select.css">
    <link rel="stylesheet" href="~/template/educature/css/animate.min.css">
    <link rel="stylesheet" href="~/template/educature/css/owl.carousel.css">
    <link rel="stylesheet" href="~/template/educature/css/main.css">
</head>
<body>
    <!-- Start Header Area -->
    @await Html.PartialAsync("_header")
    @RenderBody()
    <!-- Start Footer Area -->
    @await Html.PartialAsync("_footer")
    <!-- End Footer Area -->
    <!-- ####################### Start Scroll to Top Area ####################### -->
    <div id="back-top">
        <a title="Go to Top" href="#"></a>
    </div>
    <!-- ####################### End Scroll to Top Area ####################### -->
    <script src="~/template/educature/js/vendor/jquery-2.2.4.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="~/template/educature/js/vendor/bootstrap.min.js"></script>
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBhOdIF3Y9382fqJYt5I_sswSrEw5eihAA"></script>
    <script src="~/template/educature/js/easing.min.js"></script>
    <script src="~/template/educature/js/hoverIntent.js"></script>
    <script src="~/template/educature/js/superfish.min.js"></script>
    <script src="~/template/educature/js/jquery.ajaxchimp.min.js"></script>
    <script src="~/template/educature/js/jquery.magnific-popup.min.js"></script>
    <script src="~/template/educature/js/owl.carousel.min.js"></script>
    <script src="~/template/educature/js/owl-carousel-thumb.min.js"></script>
    <script src="~/template/educature/js/jquery.sticky.js"></script>
    <script src="~/template/educature/js/jquery.nice-select.min.js"></script>
    <script src="~/template/educature/js/parallax.min.js"></script>
    <script src="~/template/educature/js/waypoints.min.js"></script>
    <script src="~/template/educature/js/wow.min.js"></script>
    <script src="~/template/educature/js/jquery.counterup.min.js"></script>
    <script src="~/template/educature/js/mail-script.js"></script>
    <script src="~/template/educature/js/main.js"></script>
</body>
</html>