
@{
    ViewData["Title"] = "About";
    Layout = "~/Views/Educature/_Layout.cshtml";
}

<!-- Start Banner Area -->
<section class="banner-area relative">
    <div class="container">
        <div class="row d-flex align-items-center justify-content-center">
            <div class="about-content col-lg-12">
                <h1 class="text-white">
                    About Us
                </h1>
                <p>
                    In the history of modern astronomy, there is probably no one greater leap forward than the building and launch of
                    the space telescope.
                </p>
                <div class="link-nav">
                    <span class="box">
                        <a href="@Url.Action("Index", "Educature")">Home </a>
                        <i class="lnr lnr-arrow-right"></i>
                        <a href="@Url.Action("About", "Educature")">About Us</a>
                    </span>
                </div>
            </div>
        </div>
    </div>
    <div class="rocket-img">
        <img src="/template/educature/img/rocket.png" alt="">
    </div>
</section>
<!-- End Banner Area -->
<!-- Start About Area -->
<section class="about-area section-gap">
    <div class="container">
        <div class="row align-items-center justify-content-center">
            <div class="col-lg-5 col-md-6 about-left">
                <img class="img-fluid" src="/template/educature/img/about.jpg" alt="">
            </div>
            <div class="offset-lg-1 col-lg-6 offset-md-0 col-md-12 about-right">
                <h1>
                    Educature <br> Solid Outcome
                </h1>
                <div class="wow fadeIn" data-wow-duration="1s">
                    <p>
                        There is a moment in the life of any aspiring astronomer that it is time to buy that first telescope. It’s exciting to think
                        about setting up your own viewing station. In the life of any aspiring astronomer that it is time to buy that first
                        telescope. It’s exciting to think about setting up your own viewing station.
                    </p>
                </div>
                <a href="courses.html" class="primary-btn">Explore Courses</a>
            </div>
        </div>
    </div>
</section>
<!-- End About Area -->
<!-- Start Faculty Area -->
<section class="faculty-area section-gap">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="section-title text-center">
                    <h1>Faculty Members</h1>
                    <p>
                        If you are looking at blank cassettes on the web, you may be very confused at the difference in price. You may see some for
                        as low as $.17 each.
                    </p>
                </div>
            </div>
        </div>
        <div class="row justify-content-center d-flex align-items-center">
            <div class="col-lg-3 col-md-6 col-sm-12 single-faculty">
                <div class="thumb d-flex justify-content-center">
                    <img class="img-fluid" src="/template/educature/img/faculty/f1.jpg" alt="">
                </div>
                <div class="meta-text text-center">
                    <h4>Ethel Davis</h4>
                    <p class="designation">Sr. Faculty Data Science</p>
                    <div class="info wow fadeIn" data-wow-duration="1s" data-wow-delay=".1s">
                        <p>
                            If you are looking at blank cassettes on the web, you may be very confused at the difference in price.
                        </p>
                    </div>
                    <div class="align-items-center justify-content-center d-flex">
                        <a href="#"><i class="fa fa-facebook"></i></a>
                        <a href="#"><i class="fa fa-twitter"></i></a>
                        <a href="#"><i class="fa fa-linkedin"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12 single-faculty">
                <div class="thumb d-flex justify-content-center">
                    <img class="img-fluid" src="/template/educature/img/faculty/f2.jpg" alt="">
                </div>
                <div class="meta-text text-center">
                    <h4>Rodney Cooper</h4>
                    <p class="designation">Sr. Faculty Data Science</p>
                    <div class="info wow fadeIn" data-wow-duration="1s" data-wow-delay=".3s">
                        <p>
                            If you are looking at blank cassettes on the web, you may be very confused at the difference in price.
                        </p>
                    </div>
                    <div class="align-items-center justify-content-center d-flex">
                        <a href="#"><i class="fa fa-facebook"></i></a>
                        <a href="#"><i class="fa fa-twitter"></i></a>
                        <a href="#"><i class="fa fa-linkedin"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12 single-faculty">
                <div class="thumb d-flex justify-content-center">
                    <img class="img-fluid" src="/template/educature/img/faculty/f3.jpg" alt="">
                </div>
                <div class="meta-text text-center">
                    <h4>Dora Walker</h4>
                    <p class="designation">Sr. Faculty Data Science</p>
                    <div class="info wow fadeIn" data-wow-duration="1s" data-wow-delay=".5s">
                        <p>
                            If you are looking at blank cassettes on the web, you may be very confused at the difference in price.
                        </p>
                    </div>
                    <div class="align-items-center justify-content-center d-flex">
                        <a href="#"><i class="fa fa-facebook"></i></a>
                        <a href="#"><i class="fa fa-twitter"></i></a>
                        <a href="#"><i class="fa fa-linkedin"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12 single-faculty">
                <div class="thumb d-flex justify-content-center">
                    <img class="img-fluid" src="/template/educature/img/faculty/f4.jpg" alt="">
                </div>
                <div class="meta-text text-center">
                    <h4>Lena Keller</h4>
                    <p class="designation">Sr. Faculty Data Science</p>
                    <div class="info wow fadeIn" data-wow-duration="1s" data-wow-delay=".7s">
                        <p>
                            If you are looking at blank cassettes on the web, you may be very confused at the difference in price.
                        </p>
                    </div>
                    <div class="align-items-center justify-content-center d-flex">
                        <a href="#"><i class="fa fa-facebook"></i></a>
                        <a href="#"><i class="fa fa-twitter"></i></a>
                        <a href="#"><i class="fa fa-linkedin"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Faculty Area -->
<!-- Start Testimonials Area -->
<section class="testimonials-area section-gap">
    <div class="container">
        <div class="testi-slider owl-carousel" data-slider-id="1">
            <div class="item">
                <div class="testi-item">
                    <img src="/template/educature/img/quote.png" alt="">
                    <h4>Fanny Spencer</h4>
                    <ul class="list">
                        <li><a href="#"><i class="fa fa-star"></i></a></li>
                        <li><a href="#"><i class="fa fa-star"></i></a></li>
                        <li><a href="#"><i class="fa fa-star"></i></a></li>
                        <li><a href="#"><i class="fa fa-star"></i></a></li>
                        <li><a href="#"><i class="fa fa-star"></i></a></li>
                    </ul>
                    <div class="wow fadeIn" data-wow-duration="1s">
                        <p>
                            As conscious traveling Paup ers we must always be oncerned about our dear Mother Earth. If you think about it, you travel
                            across her face <br> and She is the host to your journey.
                        </p>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="testi-item">
                    <img src="/template/educature/img/quote.png" alt="">
                    <h4>Fanny Spencer</h4>
                    <ul class="list">
                        <li><a href="#"><i class="fa fa-star"></i></a></li>
                        <li><a href="#"><i class="fa fa-star"></i></a></li>
                        <li><a href="#"><i class="fa fa-star"></i></a></li>
                        <li><a href="#"><i class="fa fa-star"></i></a></li>
                        <li><a href="#"><i class="fa fa-star"></i></a></li>
                    </ul>
                    <div class="wow fadeIn" data-wow-duration="1s">
                        <p>
                            As conscious traveling Paup ers we must always be oncerned about our dear Mother Earth. If you think about it, you travel
                            across her face <br> and She is the host to your journey.
                        </p>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="testi-item">
                    <img src="/template/educature/img/quote.png" alt="">
                    <h4>Fanny Spencer</h4>
                    <ul class="list">
                        <li><a href="#"><i class="fa fa-star"></i></a></li>
                        <li><a href="#"><i class="fa fa-star"></i></a></li>
                        <li><a href="#"><i class="fa fa-star"></i></a></li>
                        <li><a href="#"><i class="fa fa-star"></i></a></li>
                        <li><a href="#"><i class="fa fa-star"></i></a></li>
                    </ul>
                    <div class="wow fadeIn" data-wow-duration="1s">
                        <p>
                            As conscious traveling Paup ers we must always be oncerned about our dear Mother Earth. If you think about it, you travel
                            across her face <br> and She is the host to your journey.
                        </p>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="testi-item">
                    <img src="/template/educature/img/quote.png" alt="">
                    <h4>Fanny Spencer</h4>
                    <ul class="list">
                        <li><a href="#"><i class="fa fa-star"></i></a></li>
                        <li><a href="#"><i class="fa fa-star"></i></a></li>
                        <li><a href="#"><i class="fa fa-star"></i></a></li>
                        <li><a href="#"><i class="fa fa-star"></i></a></li>
                        <li><a href="#"><i class="fa fa-star"></i></a></li>
                    </ul>
                    <div class="wow fadeIn" data-wow-duration="1s">
                        <p>
                            As conscious traveling Paup ers we must always be oncerned about our dear Mother Earth. If you think about it, you travel
                            across her face <br> and She is the host to your journey.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="owl-thumbs d-flex justify-content-center" data-slider-id="1">
            <div class="owl-thumb-item">
                <div>
                    <img class="img-fluid" src="/template/educature/img/testimonial/t1.jpg" alt="">
                </div>
                <div class="overlay overlay-grad"></div>
            </div>
            <div class="owl-thumb-item">
                <div>
                    <img class="img-fluid" src="/template/educature/img/testimonial/t2.jpg" alt="">
                </div>
                <div class="overlay overlay-grad"></div>
            </div>
            <div class="owl-thumb-item">
                <div>
                    <img class="img-fluid" src="/template/educature/img/testimonial/t3.jpg" alt="">
                </div>
                <div class="overlay overlay-grad"></div>
            </div>
            <div class="owl-thumb-item">
                <div>
                    <img class="img-fluid" src="/template/educature/img/testimonial/t4.jpg" alt="">
                </div>
                <div class="overlay overlay-grad"></div>
            </div>
        </div>
    </div>
</section>
<!-- End Testimonials Area -->
