
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Educature/_Layout.cshtml";
}

<!-- Start Banner Area -->
<section class="home-banner-area relative">
    <div class="container">
        <div class="row fullscreen d-flex align-items-center justify-content-center">
            <div class="banner-content col-lg-8 col-md-12">
                <h1 class="wow fadeIn" data-wow-duration="4s">We Rank the Best Courses <br> on the Web</h1>
                <p class="text-white">
                    In the history of modern astronomy, there is probably no one greater leap forward than the building and launch of the space
                    telescope.
                </p>
                <div class="input-wrap">
                    <form action="" class="form-box d-flex justify-content-between">
                        <input type="text" placeholder="Search Courses" class="form-control" name="username">
                        <button type="submit" class="btn search-btn">Search</button>
                    </form>
                </div>
                <h4 class="text-white">Top courses</h4>
                <div class="courses pt-20">
                    <a href="#" data-wow-duration="1s" data-wow-delay=".3s" class="primary-btn transparent mr-10 mb-10 wow fadeInDown">
                        Ruby
                        on Rails
                    </a>
                    <a href="#" data-wow-duration="1s" data-wow-delay=".6s" class="primary-btn transparent mr-10 mb-10 wow fadeInDown">Python</a>
                    <a href="#" data-wow-duration="1s" data-wow-delay=".9s" class="primary-btn transparent mr-10 mb-10 wow fadeInDown">Marketing</a>
                    <a href="#" data-wow-duration="1s" data-wow-delay="1.2s" class="primary-btn transparent mr-10 mb-10 wow fadeInDown">
                        UI/UX
                        Design
                    </a>
                    <a href="#" data-wow-duration="1s" data-wow-delay="1.5s" class="primary-btn transparent mr-10 mb-10 wow fadeInDown">Android</a>
                    <a href="#" data-wow-duration="1s" data-wow-delay="1.8s" class="primary-btn transparent mr-10 mb-10 wow fadeInDown">
                        Data
                        Science
                    </a>
                    <a href="#" data-wow-duration="1s" data-wow-delay="2.1s" class="primary-btn transparent mr-10 mb-10 wow fadeInDown">Cryptocurrency</a>
                </div>
            </div>
        </div>
    </div>
    <div class="rocket-img">
        <img src="/template/educature/img/rocket.png" alt="">
    </div>
</section>
<!-- End Banner Area -->
<!-- Start About Area -->
<section class="about-area section-gap">
    <div class="container">
        <div class="row align-items-center justify-content-center">
            <div class="col-lg-5 col-md-6 about-left">
                <img class="img-fluid" src="/template/educature/img/about.jpg" alt="">
            </div>
            <div class="offset-lg-1 col-lg-6 offset-md-0 col-md-12 about-right">
                <h1>
                    Over 2500 Courses <br> from 5 Platform
                </h1>
                <div class="wow fadeIn" data-wow-duration="1s">
                    <p>
                        There is a moment in the life of any aspiring astronomer that it is time to buy that first telescope. It’s exciting to think
                        about setting up your own viewing station. In the life of any aspiring astronomer that it is time to buy that first
                        telescope. It’s exciting to think about setting up your own viewing station.
                    </p>
                </div>
                <a href="courses.html" class="primary-btn">Explore Courses</a>
            </div>
        </div>
    </div>
</section>
<!-- End About Area -->
<!-- Start Courses Area -->
<section class="courses-area section-gap">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-5 about-right">
                <h1>
                    This is Why <br> We have Solid Idea
                </h1>
                <div class="wow fadeIn" data-wow-duration="1s">
                    <p>
                        There is a moment in the life of any aspiring astronomer that it is time to buy that first telescope. It’s exciting to think
                        about setting up your own viewing station. In the life of any aspiring astronomer that it is time to buy that first
                        telescope. It’s exciting to think about setting up your own viewing station.
                    </p>
                </div>
                <a href="courses.html" class="primary-btn white">Explore Courses</a>
            </div>
            <div class="offset-lg-1 col-lg-6">
                <div class="courses-right">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-12">
                            <ul class="courses-list">
                                <li>
                                    <a class="wow fadeInLeft" href="courses.html" data-wow-duration="1s" data-wow-delay=".1s">
                                        <i class="fa fa-book"></i> Development
                                    </a>
                                </li>
                                <li>
                                    <a class="wow fadeInLeft" href="courses.html" data-wow-duration="1s" data-wow-delay=".3s">
                                        <i class="fa fa-book"></i> IT & Software
                                    </a>
                                </li>
                                <li>
                                    <a class="wow fadeInLeft" href="courses.html" data-wow-duration="1s" data-wow-delay=".5s">
                                        <i class="fa fa-book"></i> Photography
                                    </a>
                                </li>
                                <li>
                                    <a class="wow fadeInLeft" href="courses.html" data-wow-duration="1s" data-wow-delay=".7s">
                                        <i class="fa fa-book"></i> Language
                                    </a>
                                </li>
                                <li>
                                    <a class="wow fadeInLeft" href="courses.html" data-wow-duration="1s" data-wow-delay=".9s">
                                        <i class="fa fa-book"></i> Life Science
                                    </a>
                                </li>
                                <li>
                                    <a class="wow fadeInLeft" href="courses.html" data-wow-duration="1s" data-wow-delay="1.1s">
                                        <i class="fa fa-book"></i> Business
                                    </a>
                                </li>
                                <li>
                                    <a class="wow fadeInLeft" href="courses.html" data-wow-duration="1s" data-wow-delay="1.3s">
                                        <i class="fa fa-book"></i> Socoal Science
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-12">
                            <ul class="courses-list">
                                <li>
                                    <a class="wow fadeInRight" href="courses.html" data-wow-duration="1s" data-wow-delay="1.3s">
                                        <i class="fa fa-book"></i> Data Science
                                    </a>
                                </li>
                                <li>
                                    <a class="wow fadeInRight" href="courses.html" data-wow-duration="1s" data-wow-delay="1.1s">
                                        <i class="fa fa-book"></i> Design
                                    </a>
                                </li>
                                <li>
                                    <a class="wow fadeInRight" href="courses.html" data-wow-duration="1s" data-wow-delay=".9s">
                                        <i class="fa fa-book"></i> Training
                                    </a>
                                </li>
                                <li>
                                    <a class="wow fadeInRight" href="courses.html" data-wow-duration="1s" data-wow-delay=".7s">
                                        <i class="fa fa-book"></i> Humanities
                                    </a>
                                </li>
                                <li>
                                    <a class="wow fadeInRight" href="courses.html" data-wow-duration="1s" data-wow-delay=".5s">
                                        <i class="fa fa-book"></i> Marketing
                                    </a>
                                </li>
                                <li>
                                    <a class="wow fadeInRight" href="courses.html" data-wow-duration="1s" data-wow-delay=".3s">
                                        <i class="fa fa-book"></i> Economics
                                    </a>
                                </li>
                                <li>
                                    <a class="wow fadeInRight" href="courses.html" data-wow-duration="1s" data-wow-delay=".1s">
                                        <i class="fa fa-book"></i> Personal Dev
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Courses Area -->
<!--Start Feature Area -->
<section class="feature-area">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="section-title text-center">
                    <h1>Features That Make Us Hero</h1>
                    <p>
                        If you are looking at blank cassettes on the web, you may be very confused at the difference in price. You may see some for
                        as low as $.17 each.
                    </p>
                </div>
            </div>
        </div>
        <div class="feature-inner row">
            <div class="col-lg-4 col-md-6">
                <div class="feature-item">
                    <i class="ti-crown"></i>
                    <h4>Architecture</h4>
                    <div class="wow fadeIn" data-wow-duration="1s" data-wow-delay=".1s">
                        <p>
                            Lorem ipsum dolor sit amet consec tetur adipisicing elit, sed do eiusmod tempor incididunt labore.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="feature-item">
                    <i class="ti-briefcase"></i>
                    <h4>Interior Design</h4>
                    <div class="wow fadeIn" data-wow-duration="1s" data-wow-delay=".3s">
                        <p>
                            Lorem ipsum dolor sit amet consec tetur adipisicing elit, sed do eiusmod tempor incididunt labore.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="feature-item">
                    <i class="ti-medall-alt"></i>
                    <h4>Concept Design</h4>
                    <div class="wow fadeIn" data-wow-duration="1s" data-wow-delay=".5s">
                        <p>
                            Lorem ipsum dolor sit amet consec tetur adipisicing elit, sed do eiusmod tempor incididunt labore.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="feature-item">
                    <i class="ti-key"></i>
                    <h4>Lifetime Access</h4>
                    <div class="wow fadeIn" data-wow-duration="1s" data-wow-delay=".1s">
                        <p>
                            Lorem ipsum dolor sit amet consec tetur adipisicing elit, sed do eiusmod tempor incididunt labore.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="feature-item">
                    <i class="ti-files"></i>
                    <h4>Source File Included</h4>
                    <div class="wow fadeIn" data-wow-duration="1s" data-wow-delay=".3s">
                        <p>
                            Lorem ipsum dolor sit amet consec tetur adipisicing elit, sed do eiusmod tempor incididunt labore.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="feature-item">
                    <i class="ti-headphone-alt"></i>
                    <h4>Live Support</h4>
                    <div class="wow fadeIn" data-wow-duration="1s" data-wow-delay=".5s">
                        <p>
                            Lorem ipsum dolor sit amet consec tetur adipisicing elit, sed do eiusmod tempor incididunt labore.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Feature Area -->
<!-- Start Faculty Area -->
<section class="faculty-area section-gap">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="section-title text-center">
                    <h1>Faculty Members</h1>
                    <p>
                        If you are looking at blank cassettes on the web, you may be very confused at the difference in price. You may see some for
                        as low as $.17 each.
                    </p>
                </div>
            </div>
        </div>
        <div class="row justify-content-center d-flex align-items-center">
            <div class="col-lg-3 col-md-6 col-sm-12 single-faculty">
                <div class="thumb d-flex justify-content-center">
                    <img class="img-fluid" src="/template/educature/img/faculty/f1.jpg" alt="">
                </div>
                <div class="meta-text text-center">
                    <h4>Ethel Davis</h4>
                    <p class="designation">Sr. Faculty Data Science</p>
                    <div class="info wow fadeIn" data-wow-duration="1s" data-wow-delay=".1s">
                        <p>
                            If you are looking at blank cassettes on the web, you may be very confused at the difference in price.
                        </p>
                    </div>
                    <div class="align-items-center justify-content-center d-flex">
                        <a href="#"><i class="fa fa-facebook"></i></a>
                        <a href="#"><i class="fa fa-twitter"></i></a>
                        <a href="#"><i class="fa fa-linkedin"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12 single-faculty">
                <div class="thumb d-flex justify-content-center">
                    <img class="img-fluid" src="/template/educature/img/faculty/f2.jpg" alt="">
                </div>
                <div class="meta-text text-center">
                    <h4>Rodney Cooper</h4>
                    <p class="designation">Sr. Faculty Data Science</p>
                    <div class="info wow fadeIn" data-wow-duration="1s" data-wow-delay=".3s">
                        <p>
                            If you are looking at blank cassettes on the web, you may be very confused at the difference in price.
                        </p>
                    </div>
                    <div class="align-items-center justify-content-center d-flex">
                        <a href="#"><i class="fa fa-facebook"></i></a>
                        <a href="#"><i class="fa fa-twitter"></i></a>
                        <a href="#"><i class="fa fa-linkedin"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12 single-faculty">
                <div class="thumb d-flex justify-content-center">
                    <img class="img-fluid" src="/template/educature/img/faculty/f3.jpg" alt="">
                </div>
                <div class="meta-text text-center">
                    <h4>Dora Walker</h4>
                    <p class="designation">Sr. Faculty Data Science</p>
                    <div class="info wow fadeIn" data-wow-duration="1s" data-wow-delay=".5s">
                        <p>
                            If you are looking at blank cassettes on the web, you may be very confused at the difference in price.
                        </p>
                    </div>
                    <div class="align-items-center justify-content-center d-flex">
                        <a href="#"><i class="fa fa-facebook"></i></a>
                        <a href="#"><i class="fa fa-twitter"></i></a>
                        <a href="#"><i class="fa fa-linkedin"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12 single-faculty">
                <div class="thumb d-flex justify-content-center">
                    <img class="img-fluid" src="/template/educature/img/faculty/f4.jpg" alt="">
                </div>
                <div class="meta-text text-center">
                    <h4>Lena Keller</h4>
                    <p class="designation">Sr. Faculty Data Science</p>
                    <div class="info wow fadeIn" data-wow-duration="1s" data-wow-delay=".7s">
                        <p>
                            If you are looking at blank cassettes on the web, you may be very confused at the difference in price.
                        </p>
                    </div>
                    <div class="align-items-center justify-content-center d-flex">
                        <a href="#"><i class="fa fa-facebook"></i></a>
                        <a href="#"><i class="fa fa-twitter"></i></a>
                        <a href="#"><i class="fa fa-linkedin"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Faculty Area -->
<!-- Start Testimonials Area -->
<section class="testimonials-area section-gap">
    <div class="container">
        <div class="testi-slider owl-carousel" data-slider-id="1">
            <div class="item">
                <div class="testi-item">
                    <img src="/template/educature/img/quote.png" alt="">
                    <h4>Fanny Spencer</h4>
                    <ul class="list">
                        <li><a href="#"><i class="fa fa-star"></i></a></li>
                        <li><a href="#"><i class="fa fa-star"></i></a></li>
                        <li><a href="#"><i class="fa fa-star"></i></a></li>
                        <li><a href="#"><i class="fa fa-star"></i></a></li>
                        <li><a href="#"><i class="fa fa-star"></i></a></li>
                    </ul>
                    <div class="wow fadeIn" data-wow-duration="1s">
                        <p>
                            As conscious traveling Paup ers we must always be oncerned about our dear Mother Earth. If you think about it, you travel
                            across her face <br> and She is the host to your journey.
                        </p>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="testi-item">
                    <img src="/template/educature/img/quote.png" alt="">
                    <h4>Fanny Spencer</h4>
                    <ul class="list">
                        <li><a href="#"><i class="fa fa-star"></i></a></li>
                        <li><a href="#"><i class="fa fa-star"></i></a></li>
                        <li><a href="#"><i class="fa fa-star"></i></a></li>
                        <li><a href="#"><i class="fa fa-star"></i></a></li>
                        <li><a href="#"><i class="fa fa-star"></i></a></li>
                    </ul>
                    <div class="wow fadeIn" data-wow-duration="1s">
                        <p>
                            As conscious traveling Paup ers we must always be oncerned about our dear Mother Earth. If you think about it, you travel
                            across her face <br> and She is the host to your journey.
                        </p>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="testi-item">
                    <img src="/template/educature/img/quote.png" alt="">
                    <h4>Fanny Spencer</h4>
                    <ul class="list">
                        <li><a href="#"><i class="fa fa-star"></i></a></li>
                        <li><a href="#"><i class="fa fa-star"></i></a></li>
                        <li><a href="#"><i class="fa fa-star"></i></a></li>
                        <li><a href="#"><i class="fa fa-star"></i></a></li>
                        <li><a href="#"><i class="fa fa-star"></i></a></li>
                    </ul>
                    <div class="wow fadeIn" data-wow-duration="1s">
                        <p>
                            As conscious traveling Paup ers we must always be oncerned about our dear Mother Earth. If you think about it, you travel
                            across her face <br> and She is the host to your journey.
                        </p>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="testi-item">
                    <img src="/template/educature/img/quote.png" alt="">
                    <h4>Fanny Spencer</h4>
                    <ul class="list">
                        <li><a href="#"><i class="fa fa-star"></i></a></li>
                        <li><a href="#"><i class="fa fa-star"></i></a></li>
                        <li><a href="#"><i class="fa fa-star"></i></a></li>
                        <li><a href="#"><i class="fa fa-star"></i></a></li>
                        <li><a href="#"><i class="fa fa-star"></i></a></li>
                    </ul>
                    <div class="wow fadeIn" data-wow-duration="1s">
                        <p>
                            As conscious traveling Paup ers we must always be oncerned about our dear Mother Earth. If you think about it, you travel
                            across her face <br> and She is the host to your journey.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="owl-thumbs d-flex justify-content-center" data-slider-id="1">
            <div class="owl-thumb-item">
                <div>
                    <img class="img-fluid" src="/template/educature/img/testimonial/t1.jpg" alt="">
                </div>
                <div class="overlay overlay-grad"></div>
            </div>
            <div class="owl-thumb-item">
                <div>
                    <img class="img-fluid" src="/template/educature/img/testimonial/t2.jpg" alt="">
                </div>
                <div class="overlay overlay-grad"></div>
            </div>
            <div class="owl-thumb-item">
                <div>
                    <img class="img-fluid" src="/template/educature/img/testimonial/t3.jpg" alt="">
                </div>
                <div class="overlay overlay-grad"></div>
            </div>
            <div class="owl-thumb-item">
                <div>
                    <img class="img-fluid" src="/template/educature/img/testimonial/t4.jpg" alt="">
                </div>
                <div class="overlay overlay-grad"></div>
            </div>
        </div>
    </div>
</section>
<!-- End Testimonials Area -->
