
@{
    ViewData["Title"] = "ListingSingle";
    Layout = "~/Views/Dorne/_Layout.cshtml";
}

<!-- ***** Breadcumb Area Start ***** -->
<div class="breadcumb-area height-700 bg-img bg-overlay" style="background-image: url(/template/dorne/img/bg-img/breadcumb.jpg)">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="breadcumb-content">
                    <div class="map-ratings-review-area d-flex">
                        <a href="#" class="d-flex align-items-center justify-content-center"><img src="/template/dorne/img/core-img/map.png" alt=""></a>
                        <a href="#">8.7</a>
                        <a href="#">Write a review</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ***** Breadcumb Area End ***** -->
<!-- ***** Single Listing Area Start ***** -->
<section class="dorne-single-listing-area section-padding-100">
    <div class="container">
        <div class="row justify-content-center">
            <!-- Single Listing Content -->
            <div class="col-12 col-lg-8">
                <div class="single-listing-content">

                    <div class="listing-title">
                        <h4>Burger House soho</h4>
                        <h6>First Avenue no 83</h6>
                    </div>

                    <div class="single-listing-nav">
                        <nav>
                            <ul id="listingNav">
                                <li class="active"><a href="#overview">Overview</a></li>
                                <li><a href="#menu">Menu</a></li>
                                <li><a href="#review">Reviews</a></li>
                                <li><a href="#lomap">Location on map</a></li>
                            </ul>
                        </nav>
                    </div>

                    <div class="overview-content mt-50" id="overview">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam ac nibh sed mi ullamcorper rhoncus. Curabitur pulvinar vel augue sit amet vestibulum. Proin tempus lacus porta lorem blandit aliquam eget quis ipsum. Vivamus accumsan consequat ligula non volutpat. Sed mollis orci non cursus vestibulum. Pellentesque vitae est a augue laoreet venenatis sed eu felis. Sed cursus magna nec turpis ullamcorper, eget rutrum felis egestas. Nunc odio ex, fermentum efficitur nunc vitae, efficitur hendrerit diam. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam ac nibh sed mi ullamcorper rhoncus. Curabitur pulvinar vel augue sit amet vestibulum. Proin tempus lacus porta lorem blandit aliquam eget quis ipsum.</p>
                        <div class="row mt-5">
                            <div class="col-6">
                                <label class="custom-control custom-checkbox mb-3">
                                    <input type="checkbox" class="custom-control-input">
                                    <span class="custom-control-indicator"></span>
                                    <span class="custom-control-description">Accepts Credit Cards</span>
                                </label>
                            </div>
                            <div class="col-6">
                                <label class="custom-control custom-checkbox mb-3">
                                    <input type="checkbox" class="custom-control-input">
                                    <span class="custom-control-indicator"></span>
                                    <span class="custom-control-description">Bike Parking</span>
                                </label>
                            </div>
                            <div class="col-6">
                                <label class="custom-control custom-checkbox mb-3">
                                    <input type="checkbox" class="custom-control-input">
                                    <span class="custom-control-indicator"></span>
                                    <span class="custom-control-description">Wireless Internet</span>
                                </label>
                            </div>
                            <div class="col-6">
                                <label class="custom-control custom-checkbox mb-3">
                                    <input type="checkbox" class="custom-control-input">
                                    <span class="custom-control-indicator"></span>
                                    <span class="custom-control-description">Reservations</span>
                                </label>
                            </div>
                            <div class="col-6">
                                <label class="custom-control custom-checkbox mb-3">
                                    <input type="checkbox" class="custom-control-input">
                                    <span class="custom-control-indicator"></span>
                                    <span class="custom-control-description">Privat Parking</span>
                                </label>
                            </div>
                            <div class="col-6">
                                <label class="custom-control custom-checkbox mb-3">
                                    <input type="checkbox" class="custom-control-input">
                                    <span class="custom-control-indicator"></span>
                                    <span class="custom-control-description">Smoking Area</span>
                                </label>
                            </div>
                            <div class="col-6">
                                <label class="custom-control custom-checkbox mb-3">
                                    <input type="checkbox" class="custom-control-input">
                                    <span class="custom-control-indicator"></span>
                                    <span class="custom-control-description">Wheelchair Accesible</span>
                                </label>
                            </div>
                            <div class="col-6">
                                <label class="custom-control custom-checkbox mb-3">
                                    <input type="checkbox" class="custom-control-input">
                                    <span class="custom-control-indicator"></span>
                                    <span class="custom-control-description">Coupons</span>
                                </label>
                            </div>
                        </div>
                    </div>

                    <div class="listing-menu-area mt-100" id="menu">
                        <h4>Menu</h4>
                        <!-- Single Listing Menu -->
                        <div class="single-listing-menu d-flex justify-content-between">
                            <!-- Listing Menu Title -->
                            <div class="listing-menu-title">
                                <h6>Classic Burger</h6>
                                <p>Beef, salad, mustard, bacon, mayonnaise, spicey relish, cheese</p>
                            </div>
                            <!-- Listing Menu Price -->
                            <div class="listing-menu-price">
                                <h6>$9,90</h6>
                            </div>
                        </div>
                        <!-- Single Listing Menu -->
                        <div class="single-listing-menu d-flex justify-content-between">
                            <!-- Listing Menu Title -->
                            <div class="listing-menu-title">
                                <h6>House Special Burger</h6>
                                <p>Beef, salad, mustard, bacon, mayonnaise, spicey relish, cheese</p>
                            </div>
                            <!-- Listing Menu Price -->
                            <div class="listing-menu-price">
                                <h6>$9,90</h6>
                            </div>
                        </div>
                        <!-- Single Listing Menu -->
                        <div class="single-listing-menu d-flex justify-content-between">
                            <!-- Listing Menu Title -->
                            <div class="listing-menu-title">
                                <h6>Classic Burger</h6>
                                <p>Beef, salad, mustard, bacon, mayonnaise, spicey relish, cheese</p>
                            </div>
                            <!-- Listing Menu Price -->
                            <div class="listing-menu-price">
                                <h6>$9,90</h6>
                            </div>
                        </div>
                        <!-- Single Listing Menu -->
                        <div class="single-listing-menu d-flex justify-content-between">
                            <!-- Listing Menu Title -->
                            <div class="listing-menu-title">
                                <h6>House Special Burger</h6>
                                <p>Beef, salad, mustard, bacon, mayonnaise, spicey relish, cheese</p>
                            </div>
                            <!-- Listing Menu Price -->
                            <div class="listing-menu-price">
                                <h6>$9,90</h6>
                            </div>
                        </div>
                        <a href="#" class="btn dorne-btn mt-50">+ See The Menu</a>
                    </div>

                    <div class="listing-reviews-area mt-100" id="review">
                        <h4>reviews</h4>
                        <div class="single-review-area">
                            <div class="reviewer-meta d-flex align-items-center">
                                <img src="/template/dorne/img/clients-img/1.jpg" alt="">
                                <div class="reviewer-content">
                                    <div class="review-title-ratings d-flex justify-content-between">
                                        <h5>“The best Burger in town”</h5>
                                        <div class="ratings">
                                            <img src="/template/dorne/img/clients-img/star-fill.png" alt="">
                                            <img src="/template/dorne/img/clients-img/star-fill.png" alt="">
                                            <img src="/template/dorne/img/clients-img/star-fill.png" alt="">
                                            <img src="/template/dorne/img/clients-img/star-fill.png" alt="">
                                            <img src="/template/dorne/img/clients-img/star-fill.png" alt="">
                                        </div>
                                    </div>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam ac nibh sed mi ullamcorper rhoncus. Curabitur pulvinar vel augue sit amet vestibulum. Proin tempus lacus porta lorem blandit aliquam eget quis ipsum. Vivamus accumsan consequat ligula non volutpat.</p>
                                </div>
                            </div>
                            <div class="reviewer-name">
                                <h6>Christinne Smith</h6>
                                <p>12 November 2017</p>
                            </div>
                        </div>
                        <div class="single-review-area">
                            <div class="reviewer-meta d-flex align-items-center">
                                <img src="/template/dorne/img/clients-img/1.jpg" alt="">
                                <div class="reviewer-content">
                                    <div class="review-title-ratings d-flex justify-content-between">
                                        <h5>“Quality ingredients”</h5>
                                        <div class="ratings">
                                            <img src="/template/dorne/img/clients-img/star-fill.png" alt="">
                                            <img src="/template/dorne/img/clients-img/star-fill.png" alt="">
                                            <img src="/template/dorne/img/clients-img/star-fill.png" alt="">
                                            <img src="/template/dorne/img/clients-img/star-fill.png" alt="">
                                            <img src="/template/dorne/img/clients-img/star-unfill.png" alt="">
                                        </div>
                                    </div>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam ac nibh sed mi ullamcorper rhoncus. Curabitur pulvinar vel augue sit amet vestibulum. Proin tempus lacus porta lorem blandit aliquam eget quis ipsum. Vivamus accumsan consequat ligula non volutpat.</p>
                                </div>
                            </div>
                            <div class="reviewer-name">
                                <h6>Michael Brown</h6>
                                <p>12 November 2017</p>
                            </div>
                        </div>
                    </div>

                    <div class="location-on-map mt-50" id="lomap">
                        <h4>Location on map</h4>
                        <div class="location-map">
                            <div id="locationMap"></div>
                        </div>
                    </div>

                </div>
            </div>

            <!-- Listing Sidebar -->
            <div class="col-12 col-md-8 col-lg-4">
                <div class="listing-sidebar">

                    <!-- Listing Verify -->
                    <div class="listing-verify">
                        <a href="#" class="btn dorne-btn w-100"><i class="fa fa-check pr-3"></i> Verified Listing</a>
                    </div>

                    <!-- Book A Table Widget -->
                    <div class="book-a-table-widget mt-50">
                        <h6>Book A Table</h6>
                        <form action="#" method="get">
                            <select class="custom-select" id="destinations">
                                <option selected>Who will be arriving</option>
                                <option value="1">New York</option>
                                <option value="2">Latvia</option>
                                <option value="3">Dhaka</option>
                                <option value="4">Melbourne</option>
                                <option value="5">London</option>
                            </select>
                            <select class="custom-select" id="catagories">
                                <option selected>Guest 1</option>
                                <option value="1">Guest 2</option>
                                <option value="3">Guest 3</option>
                                <option value="3">Guest 4</option>
                            </select>
                            <button type="submit" class="btn dorne-btn bg-white text-dark"><i class="fa fa-search pr-2" aria-hidden="true"></i> Search</button>
                        </form>
                    </div>

                    <!-- Opening Hours Widget -->
                    <div class="opening-hours-widget mt-50">
                        <h6>Opening Hours</h6>
                        <ul class="opening-hours">
                            <li>
                                <p>Monday</p>
                                <p>Closed</p>
                            </li>
                            <li>
                                <p>Tuesday</p>
                                <p>9 AM - 1 PM</p>
                            </li>
                            <li>
                                <p>Wednesday</p>
                                <p>9 AM - 1 PM</p>
                            </li>
                            <li>
                                <p>Thursday</p>
                                <p>9 AM - 1 PM</p>
                            </li>
                            <li>
                                <p>Friday</p>
                                <p>9 AM - 1 PM</p>
                            </li>
                            <li>
                                <p>Saturday</p>
                                <p>9 AM - 1 PM</p>
                            </li>
                            <li>
                                <p>Sunday</p>
                                <p>9 AM - 1 PM</p>
                            </li>
                        </ul>
                    </div>

                    <!-- Author Widget -->
                    <div class="author-widget mt-50 d-flex align-items-center">
                        <img src="/template/dorne/img/clients-img/1.jpg" alt="">
                        <div class="authors-name">
                            <a href="#">James Smith</a>
                            <p>The Author</p>
                        </div>
                    </div>

                    <!-- Contact Form -->
                    <div class="contact-form contact-form-widget mt-50">
                        <h6>Contact Business</h6>
                        <form action="#">
                            <div class="row">
                                <div class="col-12">
                                    <input type="text" name="name" class="form-control" placeholder="Your Name">
                                </div>
                                <div class="col-12">
                                    <input type="email" name="email" class="form-control" placeholder="Email Address">
                                </div>
                                <div class="col-12">
                                    <textarea name="message" class="form-control" id="Message" cols="30" rows="10" placeholder="Your Message"></textarea>
                                </div>
                                <div class="col-12">
                                    <button type="submit" class="btn dorne-btn">Send</button>
                                </div>
                            </div>
                        </form>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>
<!-- ***** Single Listing Area End ***** -->
