<footer class="site-footer">
    <div class="container">

        <div class="row">
            <div class="col-lg-9">
                <div class="row">
                    <div class="col-6 col-md-3 col-lg-3 mb-5 mb-lg-0">
                        <h3 class="footer-heading mb-4">For Candidates</h3>
                        <ul class="list-unstyled">
                            <li><a href="#">Register</a></li>
                            <li><a href="#">Find Jobs</a></li>
                            <li><a href="#">News</a></li>
                            <li><a href="#">Search Jobs</a></li>
                            <li><a href="#">Contact</a></li>
                            <li><a href="#">Careers</a></li>
                        </ul>
                    </div>
                    <div class="col-6 col-md-3 col-lg-3 mb-5 mb-lg-0">
                        <h3 class="footer-heading mb-4">For Employers</h3>
                        <ul class="list-unstyled">
                            <li><a href="#">Employer Account</a></li>
                            <li><a href="#">Clients</a></li>
                            <li><a href="#">News</a></li>
                            <li><a href="#">Find Candidates</a></li>
                            <li><a href="#">Terms &amp; Policies</a></li>
                            <li><a href="#">Careers</a></li>
                        </ul>
                    </div>
                    <div class="col-6 col-md-3 col-lg-3 mb-5 mb-lg-0">
                        <h3 class="footer-heading mb-4">Archives</h3>
                        <ul class="list-unstyled">
                            <li><a href="#">January 2018</a></li>
                            <li><a href="#">February 2018</a></li>
                            <li><a href="#">March 2018</a></li>
                            <li><a href="#">April 2018</a></li>
                            <li><a href="#">May 2018</a></li>
                            <li><a href="#">June 2918</a></li>
                        </ul>
                    </div>
                    <div class="col-6 col-md-3 col-lg-3 mb-5 mb-lg-0">
                        <h3 class="footer-heading mb-4">Company</h3>
                        <ul class="list-unstyled">
                            <li><a href="#">About</a></li>
                            <li><a href="#">Team</a></li>
                            <li><a href="#">Terms &amp; Policies</a></li>
                            <li><a href="#">Contact Us</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <h3 class="footer-heading mb-4">Contact Info</h3>
                <ul class="list-unstyled">
                    <li>
                        <span class="d-block text-white">Address</span>
                        New York - 2398 10 Hadson Carl Street
                    </li>
                    <li>
                        <span class="d-block text-white">Telephone</span>
                        +1 232 305 3930
                    </li>
                    <li>
                        <span class="d-block text-white">Email</span>
                        info@yourdomain.com
                    </li>
                </ul>

            </div>
        </div>
        <div class="row pt-5 mt-5 text-center">
            <div class="col-md-12">
                <p>
                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    Copyright &copy;
                    <script>document.write(new Date().getFullYear());</script> All Rights Reserved | This template is made with <i class="icon-heart text-danger" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                </p>
            </div>

        </div>
    </div>
</footer>