<footer class="site-footer">
    <div class="container">
        <div class="row mb-5">
            <div class="col-md-4">
                <h3 class="mb-4">About</h3>
                <p class="mb-4">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut, quod!</p>
                <ul class="list-unstyled ">
                    <li class="d-flex"><span class="mr-3"><span class="icon ion-ios-location"></span></span><span class="">34 Street Name, City Name Here, United States</span></li>
                    <li class="d-flex"><span class="mr-3"><span class="icon ion-ios-telephone"></span></span><span class="">+1 242 4942 290</span></li>
                    <li class="d-flex"><span class="mr-3"><span class="icon ion-email"></span></span><span class="">info@yourdomain.com</span></li>
                </ul>
            </div>
            <div class="col-md-2">
                <h3 class="mb-4">Links</h3>
                <ul class="list-unstyled ">
                    <li><a href="#">About</a></li>
                    <li><a href="#">Destination</a></li>
                    <li><a href="#">Contact</a></li>
                </ul>
            </div>
            <div class="col-md-3">
                <h3 class="mb-4">Latest Blog</h3>
                <ul class="list-unstyled blog-entry-footer">
                    <li>
                        <a href="#">
                            <span class="post-meta">March 20, 2018</span>
                            <h3>7 Best Destination in The World</h3>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <span class="post-meta">March 20, 2018</span>
                            <h3>4 Hour Work Week And The Rest Is Travel</h3>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <span class="post-meta">March 20, 2018</span>
                            <h3>Why You Should Travel Today</h3>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col-md-3">
                <h3>Connect</h3>
                <p>
                    <a href="#" class="p-2"><span class="fa fa-facebook"></span></a>
                    <a href="#" class="p-2"><span class="fa fa-twitter"></span></a>
                    <a href="#" class="p-2"><span class="fa fa-instagram"></span></a>
                </p>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-7 text-center">
                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                Copyright &copy;
                <script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
            </div>
        </div>
    </div>
</footer>