
@{
    ViewData["Title"] = "About";
    Layout = "~/Views/Listed/_Layout.cshtml";
}

<section class="site-hero site-hero-innerpage overlay" data-stellar-background-ratio="0.5" style="background-image: url(/template/listed/images/big_image_1.jpg);">
    <div class="container">
        <div class="row align-items-center site-hero-inner justify-content-center">
            <div class="col-md-8 text-center">
                <div class="mb-5 element-animate">
                    <h1>About Us</h1>
                    <p>Discover &amp; connect with great places around the world.</p>
                </div>

            </div>
        </div>
    </div>
</section>
<!-- END section -->
<section class="site-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-12 mb-5 element-animate" data-animate-effect="fadeInLeft">
                <img src="/template/listed/images/img_1.jpg" class="img-md-fluid" alt="Placeholder image">
            </div>
            <div class="col-lg-6 col-md-12">
                <div class="bg-white pl-lg-5 pl-0  pb-lg-5 pb-0 element-animate" data-animate-effect="fadeInRight">
                    <h2>About Us</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur atque perferendis, laudantium quod architecto velit ad officiis facere eveniet in fuga fugiat delectus rerum doloribus quos consectetur unde, expedita, quibusdam corporis impedit quia sequi aliquid sit. Ducimus labore molestias odio nam necessitatibus laboriosam vero saepe enim nobis. Repudiandae quidem, sint earum dolorum consequuntur dignissimos excepturi mollitia omnis aliquid, corporis, unde!</p>
                    <p>Esse, rem, ab. Ab ipsum at eligendi aliquam veritatis vel cupiditate odio mollitia minima impedit. Explicabo dolores aut accusantium et aliquam inventore aperiam deleniti, veritatis nihil! Odit consectetur eius tempora necessitatibus possimus earum, totam pariatur. Alias id officiis atque laboriosam laudantium esse quidem est ad perspiciatis porro, non quaerat, accusamus ipsam quis adipisci, reiciendis mollitia quos sequi et nemo. Eveniet.</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- END section -->
<section class="site-section">
    <div class="container">
        <div class="row justify-content-center mb-5">
            <div class="col-md-7 text-center">
                <h2>Team</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Earum magnam illum maiores adipisci pariatur, eveniet.</p>
            </div>
        </div>
        <div class="row top-destination">
            <div class="col-lg-2 col-md-4 col-sm-6 col-12 element-animate">
                <a href="#" class="place">
                    <img src="/template/listed/images/person_1.jpg" alt="Image placeholder">
                    <h2>Michelle Megan</h2>
                    <p>CEO, Co-founder</p>
                </a>
            </div>
            <div class="col-lg-2 col-md-4 col-sm-6 col-12 element-animate">
                <a href="#" class="place">
                    <img src="/template/listed/images/person_2.jpg" alt="Image placeholder">
                    <h2>Mike Stellar</h2>
                    <p>CTO Co-founder</p>
                </a>
            </div>
            <div class="col-lg-2 col-md-4 col-sm-6 col-12 element-animate">
                <a href="#" class="place">
                    <img src="/template/listed/images/person_3.jpg" alt="Image placeholder">
                    <h2>Gregg White</h2>
                    <p>VP Producer</p>
                </a>
            </div>
            <div class="col-lg-2 col-md-4 col-sm-6 col-12 element-animate">
                <a href="#" class="place">
                    <img src="/template/listed/images/person_4.jpg" alt="Image placeholder">
                    <h2>Rogie Knitt</h2>
                    <p>Project Manager</p>
                </a>
            </div>
            <div class="col-lg-2 col-md-4 col-sm-6 col-12 element-animate">
                <a href="#" class="place">
                    <img src="/template/listed/images/person_5.jpg" alt="Image placeholder">
                    <h2>Ben Koh</h2>
                    <p>Project Manager</p>
                </a>
            </div>
            <div class="col-lg-2 col-md-4 col-sm-6 col-12 element-animate">
                <a href="#" class="place">
                    <img src="/template/listed/images/person_6.jpg" alt="Image placeholder">
                    <h2>Chris Stanworth</h2>
                    <p>Product Designer</p>
                </a>
            </div>
        </div>
    </div>
</section>
<!-- END section -->


<section class="section-cover" data-stellar-background-ratio="0.5" style="background-image: url(/template/listed/images/big_image_2.jpg);">
    <div class="container">
        <div class="row justify-content-center align-items-center intro">
            <div class="col-md-7 text-center element-animate">
                <h2>Get 10% off On Your Next Travel</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto quidem tempore expedita facere facilis, dolores!</p>
                <p><a href="#" class="btn btn-black">Get Started</a></p>
            </div>
        </div>
    </div>
</section>
<!-- END section -->
